{% extends 'AdymaMainBundle::base.html.twig' %}

{% block title %} {{ 'seo.index.title'|trans }} {% endblock title %}
{% block description %}{{ 'seo.index.description'|trans }}{% endblock description %}
{% block keywords %}{{ 'seo.index.keywords'|trans }}{% endblock keywords %}
{% block body %}
    <div class="indexfirstview">
        <img src={{ asset('bundles/adymamain/images/logoindex.png') }} alt="AdymaLogo">
        <h3>Construcciones Metálicas en Acero Inoxidable</h3>
    </div>
{% endblock body %}