@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);
html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
body{
    margin:0;
}
nav{
    position:fixed;
    right:0;
    top:0;
    z-index: 99999999;
}
nav ul{
    margin: 0;
    padding: 0;
    padding-left: 12px;
    padding-right: 12px;
    float: right;
    position: relative;
    right: 10%;
    background: #999;
    border-radius: 0px 0px 7px 7px;
}
nav li{
    float:left;
    padding:6px;
    list-style-type: none;
}
nav li a{
    text-decoration: none;
    color: white;
    font-family: 'Source Sans Pro';
    font-weight: 700;
}
.sc0{
    background: url('../../bundles/adymamain/images/kcone/viewsc0.png');
    background-size:cover;
}
.sc1{
    background: url('../../bundles/adymamain/images/kcone/viewsc1.png');
    background-size:cover;
}
.sc2{
    background: url('../../bundles/adymamain/images/kcone/viewsc2.png');
    background-size:cover;
}
.sc3{
    background: url('../../bundles/adymamain/images/kcone/viewsc3.png');
    background-size:cover;
}
.logosc0{
    display:block;
    margin:auto;
    position: relative;
    top: -21%;
}
.descriptioncontainer{
    background: rgba(0, 0, 0, 0.45);
    width: 50%;
    height: 100%;
    position: relative;
}
.descriptioncontainer h3{
    color: white;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 56px;
    position: absolute;
    left: 4%;
    top: 5%;
}
.descriptioncontainer p{
    position: absolute;
    left: 5%;
    top: 35%;
    font-size: 23px;
    width: 83%;
    color: white;
    font-family: 'Source Sans Pro';
    font-weight: 400;
}
.descriptioncontainerleft{
    background: rgba(0, 0, 0, 0);
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
.descriptioncontainerleft h3{
    color: #2e2e2e;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 56px;
    position: absolute;
    left: 4%;
    top: 5%;
}
.descriptioncontainerleft p{
    position: absolute;
    left: 5%;
    top: 35%;
    font-size: 23px;
    width: 83%;
    color: #2e2e2e;
    font-family: 'Source Sans Pro';
    font-weight: 300;
}
#seccion3 h3{
    text-align: center;
    font-family: 'Montserrat';
    font-size: 3em;
    position: relative;
    top: -21%;
}
#seccion3 p{
    font-size: 1.3em;
    text-align: center;
    position: relative;
    top: -21%;
    font-family: 'Source Sans Pro';
    font-weight: 300;
}
@media (min-width: 400px) and (max-width: 700px) and (orientation:landscape){
    .logosc0{
        width:50%;
    }
    .descriptioncontainer h3 {
        font-size: 1.3em;
        top: 9%;
    }
    .descriptioncontainer p{
        font-size:0.8em;
    }
    .descriptioncontainerleft h3 {
        font-size: 1.3em;
        top: 9%;
    }
    .descriptioncontainerleft p{
        font-size:0.8em;
    }
    #seccion3 h3{
        font-size:1.3em;
        top:-18%;
    }
    #seccion3 p{
        font-size:0.8em;
    }
}
@media screen (max-width: 400px) and (orientation:portrait){
    nav ul{
        right:0;
        padding-right: 0;
        border-radius: none;
    }
    nav li{
        padding:4px;
    }
    nav a{
        font-size:0.9em;
    }
}

