{% extends 'AdymaMainBundle::section.html.twig' %}
{% block title %} {{ 'seo.index.title'|trans }} {% endblock title %}
{% block description %}{{ 'seo.index.description'|trans }}{% endblock description %}
{% block keywords %}{{ 'seo.index.keywords'|trans }}{% endblock keywords %}
{% block headcontent %}
    <img src={{ asset('bundles/adymamain/images/sections/int/mlav_head.png') }}>
    <h3>Hostelería</h3>
    <p>Mesas lavavajillas</p>
{% endblock %}
{% block undercontent %}
    <div class="pleft">
    <p>Mesas de carga/descarga para lavavajillas.
    <br><br>
    Dentro de la producción de <span class="bolduppercase">ADYMA-INOX</span> llegamos a las mesas para lavavajillas fabricadas en acero inoxidable.
    <br><br>
    Fabricadas a medida se adaptan a cualquier modelo de maquinaría existente en el mercado, lavavajillas de cúpula, lavavajillas bajo encimara o túnel de lavado, consiguiendo dar soluciones a la sala de lavado de sus proyectos o instalaciones.
    <br><br>
    </p>
    </div>

    <div class="pright">
        <h4></h4>
        <p class="whitext">
        Al estar fabricados a medida son ideales para completar la instalación de cocinas industriales, hoteles, restaurantes, colegios, hospitales, empresas de caterign, empresas manipuladoras de alimentos,
        cafeterías y un largo etc...
        </p>
    </div>
    <div class="minishow">
        <p class="nopadding">Estos son algunos de los productos que le ayudarán a optimizar el espacio de sus instalaciones:</p>
        <ul>
            <li>
                <img src="" alt="">
                <p class="descriptmini">Texto de Prueba</p>
            </li>
            <li>
                <img src="" alt="">
                <p class="descriptmini">Texto de Prueba</p>
            </li>
            <li>
                <img src="" alt="">
                <p class="descriptmini">Texto de Prueba</p>
            </li>
            <li>
                <img src="" alt="">
                <p class="descriptmini">Texto de Prueba</p>
            </li>
            <li>
                <img src="" alt="">
                <p class="descriptmini">Texto de Prueba</p>
            </li>
            <li>
                <img src="" alt="">
                <p class="descriptmini">Texto de Prueba</p>
            </li>
        </ul>
    </div>
{% endblock %}
