{% extends 'AdymaMainBundle::section.html.twig' %}
{% block title %} {{ 'seo.index.title'|trans }} {% endblock title %}
{% block description %}{{ 'seo.index.description'|trans }}{% endblock description %}
{% block keywords %}{{ 'seo.index.keywords'|trans }}{% endblock keywords %}
{% block headcontent %}
    <img src={{ asset('bundles/adymamain/images/sections/int/comp_head.png') }}>
    <h3>Hostelería</h3>
    <p>Complementos</p>
{% endblock %}
{% block undercontent %}
    <div class="pleft">
    <p><span class="bolduppercase">ADYMA-INOX</span> pone a su disposición una amplia gama de complementos para facilitar el trabajo diario con sus productos.
    <br><br>
    Cajoneras, Puertas abatibles o correderas, gomas desbrazado, paneras, módulos con guías para bandejas, cuchilleros, forros de pared, speed rail, etc... Son algunos de los complementos que permiten personalizar la instalación y dotarla de todas las necesidades para su correcto funcionamiento.
    </p>
    </div>

    <div class="pright">
        <h4>PERSONALIZACIÓN Y VERSATILIDAD</h4>
        <p class="whitext">
        Los elementos más esenciales de su instalación, nos ajustamos a sus necesidades para completar el conjunto de su negocio.
        </p>
    </div>
    <div class="minishow">
        <p class="nopadding">Estos son algunos de los productos que le ayudarán a optimizar el espacio de sus instalaciones:</p>
        <ul>
            <li>
                <img src="" alt="">
                <p class="descriptmini">Texto de Prueba</p>
            </li>
            <li>
                <img src="" alt="">
                <p class="descriptmini">Texto de Prueba</p>
            </li>
            <li>
                <img src="" alt="">
                <p class="descriptmini">Texto de Prueba</p>
            </li>
            <li>
                <img src="" alt="">
                <p class="descriptmini">Texto de Prueba</p>
            </li>
            <li>
                <img src="" alt="">
                <p class="descriptmini">Texto de Prueba</p>
            </li>
            <li>
                <img src="" alt="">
                <p class="descriptmini">Texto de Prueba</p>
            </li>
        </ul>
    </div>
{% endblock %}
