{% extends 'AdymaMainBundle::section.html.twig' %}
{% block title %} {{ 'seo.index.title'|trans }} {% endblock title %}
{% block description %}{{ 'seo.index.description'|trans }}{% endblock description %}
{% block keywords %}{{ 'seo.index.keywords'|trans }}{% endblock keywords %}
{% block headcontent %}
    <img src={{ asset('bundles/adymamain/images/sections/int/camp_head.png') }}>
    <h3>Hostelería</h3>
    <p>Campanas</p>
{% endblock %}
{% block undercontent %}
    <div class="pleft">
    <p>En <span class="bolduppercase">ADYMA-INOX</span> fabricamos las campanas a medida en acero inoxidable.
    <br><br>
    nuestras campanas son fabricadas a medida según sus especificaciones, totalmente soldadas.
    <br><br>
    El acabado de nuestras campanas es satinado.
    <br><br>
    Nos ceñimos a sus necesidades, fabricando campanas a medida en Acero Inox. Estas pueden ser murales,centrales,compensadas,para hornos,etc.
    <br><br></p>
    </div>

    <div class="pright">
        <h4>SEGÚN SUS NECESIDADES</h4>
        <p class="whitext">
        Dependiendo de su negocio y del local, podemos instalarle plenum interior, exterior, desmontable, sin plenum, etc.
        Filtros de lamas y posibilidad de instalar luz en las campanas. Al estar fabricadas a medida son ideales para completar la instalación de cocinas industriales, hoteles, restaurantes, colegios, hospitales, empresas de catering, empresas manipuladoras de alimentos, cafeterías y un largo etc.
        </p>
    </div>
    <div class="minishow">
        <p class="nopadding">Estos son algunos de los productos que le ayudarán a optimizar el espacio de sus instalaciones:</p>
        <ul>
            <li>
                <img src="" alt="">
                <p class="descriptmini">Texto de Prueba</p>
            </li>
            <li>
                <img src="" alt="">
                <p class="descriptmini">Texto de Prueba</p>
            </li>
            <li>
                <img src="" alt="">
                <p class="descriptmini">Texto de Prueba</p>
            </li>
            <li>
                <img src="" alt="">
                <p class="descriptmini">Texto de Prueba</p>
            </li>
            <li>
                <img src="" alt="">
                <p class="descriptmini">Texto de Prueba</p>
            </li>
            <li>
                <img src="" alt="">
                <p class="descriptmini">Texto de Prueba</p>
            </li>
        </ul>
    </div>
{% endblock %}
