{% extends 'AdymaMainBundle::base.html.twig' %}
{% block body %}
    <div class="headcontent">
    {% block headcontent %}{% endblock %}
    </div>
    <div class="undercontent">
    {% block undercontent %}{% endblock %}
    </div>
{% endblock body %}