@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
body{
    margin:0;
}
nav{

}
nav ul{
    margin: 0;
    padding: 0;
}
nav li{
    float:left;
    padding:6px;
    list-style-type: none;
}